<nav>

    <div class="header">

        <ul class="">
    
            <li class="Home">

                <a href="">Home</a>

            </li>
        
            <div class="paf">
                <li>
                    <a routerLink="products">Products</a>
                </li>
            
                <li>
                    <a href="">About Us</a>
                </li>
            
                <li>
        
                   <a href="/cart"> <fa-icon icon="cart-shopping"> </fa-icon> </a> 
                    
                </li>
            </div>
        
        </ul>
    </div>

</nav>
