<nav>

    <div class="header">

        <ul class="">
    
            <li class="Home">
                Home
            </li>
        
            <div class="paf">
                <li>
                    <a routerLink="products">Products</a>
                </li>
            
                <li>
                    <a href="">About Us</a>
                </li>
            
                <li>
                   <i>
                        <fa-icon icon="cart-shopping"> </fa-icon>
                    </i>
                </li>
            </div>
        
        </ul>
    </div>

</nav>
