.overall {
    padding-top: 7rem;

    .description {
        
        display: flex;
        justify-content: center;
    }
    .redirect {

        display: flex;
        justify-content: center;

        button[ type= click ] {
            
        }
    }
}