.docs {
    max-width: 100%;
    display: grid;
    // flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 2rem;
    .list{
        
        li{
            list-style-type: none;
            img {
                height: 7rem;
            }
            .buts{
                button{
                    display: flex;
                    margin: 1rem;
                    background-color: lightgreen;
                    color: white;
                }
            }
        }
    }
}